# Gradle
.gradle
build

*~
*.DS_Store
*.class
*java#
*.settings
*.iml
local.properties
.arc/
bin/
gen/
out/
build/
facebook/doc/
facebook/lint.xml
facebook/target/
facebook/tests/lint.xml
facebook/tests/assets/config.json

#intellij
.idea/*/
.idea/**/*
*.eml

#eclipse
.project
.classpath

#gradle
.gradle
